.navbar-toggleable-md .navbar-nav .nav-link {
    font-weight: bold;
    padding: .25rem 0;
    border-bottom: .25rem solid transparent;
}

.navbar-nav .nav-item + .nav-item {
    margin-left: 1rem;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,0.7);
}

.navbar-brand {
    padding-left: 52px;
    line-height:18px;
    padding-top:10px;
    padding-bottom:5px;
    background: url('/images/jacobite-syrian-logo.gif') no-repeat;
    background-size: 50px;
}

.navbar-brand small {
  display:block;
  font-size:14px;
}

body {
    background: url('/images/home-banner-cross.jpg') no-repeat 50% -300px
}

header.home-banner {
    height: 340px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    padding: 5rem 0;
    color: ghostwhite;
    font-weight: bold;
}

header.home-banner h1 {
    line-height: 4rem;
}

footer {
    background-color: lightslategray;
    background: url('/images/footer.jpg');
    padding-top: 2em;
    color: aliceblue;
}

footer p {
    margin-bottom: 0rem;
}

footer a {
    color: aliceblue;
    text-decoration: none;
    border-bottom: 1px aliceblue dotted;
}

footer a:hover {
    color: aliceblue;
    text-decoration: underline;
    border-bottom: none;
}

footer ul {
    padding-left: 0px;
    list-style-type: none;
}

.page-content {
    background-color: rgba(255,255,255,1);
    padding: 1rem 0;
}

@media (min-width: 992px) {
    .navbar-toggleable-md .navbar-nav .nav-link.active {
        border-bottom-color: #000;
    }
}
