</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h6>UK Churches</h6>
                <ul>
                    <li><a href="http://stthomasjsoclondon.org/"><span>St.Thomas J.S.O.C(Queen Victoria Street), London</span></a></li>
                    <li><a href="http://www.jacobitechurchbelfast.com/"><span>St.Ignatius Elias J.S.O.C, Belfast</span></a></li>
                    <li><a href="http://www.jacobitechurchbelfast.com/"><span>St.Baselious Eldho J.S.O.C, Bristol</span></a></li>
                    <li><a href="http://www.stmarysliverpool.com/"><span>St.Marys J.S.O.C, Liverpool</span></a></li>
                    <li><a href="http://www.aberdeenpally.com/"><span>St.George Syrian Orthodox Congregation, Aberdeen </span></a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <h6>Other Useful Sites</h6>
                <ul>
                    <li><a href="http://bavathirumeni.blogspot.in/"><span>Ningalude Swantham Bava Thirumeni</span></a></li>
                    <li><a href="http://www.radiomalankara.com/"><span>Shubho - Radio Malankara</span></a></li>
                    <li><a href="http://yakkoobyan.org/"><span>Yakkoobyan Masika</span></a></li>
                    <li><a href="http://www.viswasasamrakshakan.org/"><span>Viswasa Samrakshakan </span></a></li>
                    <li><a href="http://eaemagazine.org/"><span>Pourasthya Suvisheshakan</span></a></li>
                    <li><a href="http://www.syrianchurch.org/"><span>Malankara Syric Christian Resources</span></a></li>
                    <li><a href="http://www.malankarasyriacvoice.com/"><span>Malankara Syriac Voice</span></a></li>
                    <li><a href="http://www.jacobiteonline.com/"><span>Jacobite Online</span></a></li>
                </ul>
            </div>
        </div>
    <p>Copyright © St.Marys J.S.O.C Manchester. All Rights Reserved</p>        
    </div>
</footer>

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="{{ "/js/jquery-3.1.1.slim.min.js" | relative_url }}" type="text/javascript"></script>
<script src="{{ "/js/tether.min.js" | relative_url }}" type="text/javascript"></script>
<script src="{{ "/js/bootstrap.min.js" | relative_url }}" type="text/javascript"></script>
