<nav class="navbar navbar-toggleable-md navbar-light">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" 
      data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" 
      aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
    <ul class="navbar-nav">
      {% assign url = page.url|remove:'index.html' %}
      <li class="nav-item">
        <a class="nav-link {% if url == '/' %}active{% endif %}" href="{{ "/" | relative_url }}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if url == '/stmary/' %}active{% endif %}" href="{{ "/stmary/" | relative_url }}">St.Mary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if url == '/hierarchy/' %}active{% endif %}" href="{{ "/hierarchy/" | relative_url }}">Hierarchy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  {% if url == '/board/' %}active{% endif %}" href="{{ "/board/" | relative_url }}">Board of Trustees</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  {% if url == '/gallery/' %}active{% endif %}" href="{{ "/gallery/" | relative_url }}">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if url == '/links/' %}active{% endif %}" href="{{ "/links/" | relative_url }}">Links</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if url == '/contact/' %}active{% endif %}" href="{{ "/contact/" | relative_url }}">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>

<div id="background1">
    <img src="{{ "/images/bg2.jpg" | relative_url }}" class="stretch" alt="" />
</div>

<div class="main">
  <div class="header">
    <div class="clr"></div>
  </div>