<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="navbar-header">
    <a class="navbar-brand" href="{{ "/" | relative_url }}">St Mary's J.S.O.C <small>Manchester</small></a>
  </div>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" 
      data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" 
      aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
    <ul class="navbar-nav">
      {% assign url = page.url|remove:'index.html' %}
      <li class="nav-item">
        <a class="nav-link {% if url == '/' %}active{% endif %}" href="{{ "/" | relative_url }}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if url == '/stmary/' %}active{% endif %}" href="{{ "/stmary/" | relative_url }}">St.Mary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if url == '/hierarchy/' %}active{% endif %}" href="{{ "/hierarchy/" | relative_url }}">Hierarchy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  {% if url == '/board/' %}active{% endif %}" href="{{ "/board/" | relative_url }}">Board of Trustees</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  {% if url == '/gallery/' %}active{% endif %}" href="{{ "/gallery/" | relative_url }}">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if url == '/contact/' %}active{% endif %}" href="{{ "/contact/" | relative_url }}">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
